
.header-row,
.task-row {
   display: grid;
   grid-template-columns: 1fr 260px;
   gap: 20px;
   margin-bottom: 10px;
   align-items: center;
}

.task-row input {
   width: 100%;
   box-sizing: border-box;
}

.task-row input.missing-due,
.task-row input.missing-title {
   border: 2px solid red;
}

.header-row h2,
.header-row h3 {
   margin: 0;
   font-weight: 600;
}