<!DOCTYPE html>
<html lang = "en">
<head>
   <title> Syllabus to Google Tasks</title>
   <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Syllabus to Google Tasks</h1>
    <label for="syllabus">Enter your assignments here:</label>
    <textarea id = "syllabus" rows="10" cols="10"></textarea>
    <label for="apikey">Enter your gemini api key:</label>
    <input type="text" id="apikey" name = "apikey">

<button id="api-help-button" type="button">What's an api key?</button>

<button id="next-button" type="button">Next</button>


<p id="explanation" style="display: none;" class="explanation">Using an api key uses a personal <strong>free</strong> version
of the AI model. You can get your api key <a href="https://aistudio.google.com/app/api-keys" target="_blank" rel="noopener noreferrer">here</a> by clicking "Create API Key". </p>



<script src="/static/js/dropdown.js"></script>
<script src="/static/js/goToReview.js"></script>
</body>
</html>